@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <div class="text-center">
    <h1 class="display-4">Welcome to my ChannelEngine Assessment</h1>

    <p>Functionality is limited at the moment but that app has the ability to expand</p>
  </div>

  <p>Some things missing that would add to future proofing it or making it more pleasant to use are:</p>
  <ul class="list-group">
    <li class="list-group-item">Pagination consideration ( this was not included as the API currently has less than 100 orders )</li>
    <li class="list-group-item">Search filters</li>
    <li class="list-group-item">Better styling</li>
    <li class="list-group-item">Move BaseUrl and ApiKey to appOptions</li>
    <li class="list-group-item">Show order line items on order screen</li>
  </ul>
</div>
